.THIS {
}

.THIS .table_legenda {
  table-layout: fixed;
}

.THIS .table_legenda th {
  word-wrap: break-word;
}

.THIS .form-style-6 h1{
    background: #6692BF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.THIS .form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
     margin: 10px auto; 
    padding: 16px;
    
}